<%- include('partials/header') %>
<main id="mainContent">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <a href="/write-suggestion" class="border-shadow">
                <span><i class="fa-solid fa-plus"></i> Write Suggestion </span>
            </a>
        </div>
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-yellow">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email-ID</th>
                        <th>Suggestions</th>
                        <th>Status</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <%- include('partials/show') %>
                    
                </tbody>
            </table>
            
            
        </form>
        

    </div>
</main>
<%- include('partials/footer') %>

