* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background: #eee;
    padding: 0 16px;
  }
  
  header {
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  header a {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 300;
    text-decoration: none;
  }
  
  footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }
  .d-flex{
    display: flex;
    flex-wrap: wrap;
  }
  .justify-between{
    justify-content: space-between;
  }
  .text-center{
    text-align: center;
  }
  .border-shadow{
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #a19738;
    ;
  }
  .text-dark{
    color: var(--dark);
  }
  .inline{
    display: inline-block;
  }
  .text-light{
    color: var(--light);
  }
  /* .text-gradient{
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    -webkit-background-clip: text;
  } */
  #mainContent{
    margin-top: 6em;
    font-family:Arial, Helvetica, sans-serif
  }
  #mainContent .container .box-nav > a{
    font-size: em;
    color: black;
    padding:4px 2px;
    border-radius: 1em;
    text-decoration: none;
  }

  #mainContent .container form{
    margin: 2em 0;
  }
  table{
    border-spacing: 0px;
    width: 100%;
  }
  .table td, .table th{
    padding: 0.75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
  }
  .table td> a.btn{
    padding: 0.3em 1em;
    font-size: 1.1em;
    margin: 0.2em;
    border-radius: 2em;
    color: black;


  }
  .table tr:hover{
    background-color: #e9ecef;
  }
  .table tr:hover td>a{
    box-shadow: none;
  }
  .table .thead-yellow th{
    color: #fff;
    background-color: #f5ba13;
    border-color: #eee;
  }
  @media only screen and (max-width : 1024px){
    table, thead, tbody, th, td, tr{
        display: block;
        
    }
    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr{border:1px solid rgb(91, 91, 73);}
    td{
        border:1px solid rgb(91, 91, 73);
        position: relative;
    }
  }

/* adding new suggestion form  */
.form-title{
    margin-top: 2em;
}
.form-title >h2{
    padding: 0.5em 0;
}
.new-suggestion{
    max-width: 786px;
    margin:auto;
}
#add_suggestion .form-group,
#write-suggestion .form-group{
    margin: 0.4em 0;

}
#add_suggestion .form-group input[type="text"],
#write-suggestion .form-group input[type="text"]{

    width: 100%;
    padding: 0.6em 1em;
    margin: 0.5em 0;
    border: 1px solid var(--border);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 2em;

}
#add_suggestion .form-group .radio,
#write-suggestion .form-group .radio{
    margin: 1em 2em;
}
.radio input[type="radio"]{
    position: absolute;
    opacity: 0;}
.radio input[type="radio"]+.radio-label:before{
    content: "";
    background-color: var(--border-btn);
    border-radius: 100%;
    border: 1px solid var(--border);
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: -0em;
    margin-right: 0.5em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}
.radio input[type="radio"]:checked+ .radio-label:before{
    background-color: #f5ba13;
    box-shadow: inset 0 0 0 4px #e9ecef;
}
.radio input[type="radio"]:focus+ .radio-label:before{
    outline: none;
    border-color: #f5ba13;
    
}
.radio input[type="radio"]:disabled+ .radio-label:before{
    border-color: beige;
    background: beige;
    box-shadow: inset 0 0 0 4px #e9ecef;
}
#add_suggestion .form-group .btn,
#write-suggestion .form-group .btn{
    width: 100%;
    padding: 0.9em 1em;
    background-color: #f5ba13;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0.2em;
    margin: 0.5em;



}
#add_suggestion .form-group .btn:hover,
#write-suggestion .form-group .btn:hover{
    background-color: #f3c548;}


